# Junk
###########
.DS_Store
Thumbs.db
*.pyc
*.project
*.pydevproject

# Security
###########
#bin/auth/
#secret_keys.py
#*.dat
#*.pem
#*.json


# Emacs
###########
\#*\#
.\#*
*\~

# Vi
###########
.*.swp
.*~

# eclipse
.settings


# virtualenv
venv


# secrets (to be factored out)
auth/*

# config
config.yml

# pycharm
.idea

# vim tags
tags
