<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.conductorio.conductor</string>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>
            launchctl setenv PATH $PATH:/Applications/Conductor.app/Content/MacOS
            launchctl setenv PYTHONPATH $PYTHONPATH:/Applications/Conductor.app/Content/MacOS
            launchctl setenv PYTHONPATH $PYTHONPATH:/Applications/Conductor.app/Content/MacOS/python/lib/python2.7/site-packages
            launchctl setenv MAYA_SHELF_PATH $MAYA_SHELF_PATH:/Applications/Conductor.app/Content/MacOS/maya_shelf
            launchctl setenv XBMLANGPATH $XBMLANGPATH:/Applications/Conductor.app/Content/MacOS/conductor/resources
            launchctl setenv NUKE_PATH $NUKE_PATH:/Applications/Conductor.app/Content/MacOS/nuke_menu
            launchctl setenv CONDUCTOR_CONFIG ~/Library/Application Support/Conductor/config.yml
        </string>
        
    </array>
    <key>KeepAlive</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>